html {
  font-size: 62.5%; /* 1rem -> 10px */
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Tiro Gurmukhi", serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  background-color: #383a63;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
}

.navbar__list {
  display: flex;
  gap: 5rem;
}

.navbar__link:link,
.navbar__link:visited {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.5rem;
  color: white;
}

.navbar__link i {
  color: #96705b;
}

.cart-widget {
  position: relative;
}

.cart-widget span {
  position: absolute;
  top: 1rem;
  right: -1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: crimson;
  font-size: 1.5rem;
}
